body{
    font-family: 'Bungee', cursive;
    background-image: url("../assets/images/background1.jpg");
    background-size: 100%;
    color:#FFE81F;

}
#start_div{
    text-align: center;
}
#start_button ,
#next,
#playAgain,
#exit,
#choices_div button{    
    background:#031228;
    color:#FFE81F;
    border:.25em solid #FFE81F;
    border-radius: 2.75em

}
#playAgain,
#exit{
    padding:1.25em 2em;
    margin:1em;
}
#start_button ,
#next
{
    font-size: 1.5em;
    padding:1.35em 2.2em;   
    display: block;
    margin: auto
}
#choices_div button{
    width: 90%;
    display: block;
    margin:1em auto;
    font-size: 1.5em;
    padding-top:1.25em;
    padding-bottom:1.25em;
    
}

#timer{
    font-family: 'Geostar Fill', cursive;
    font-size: 1.75em;
    font-weight: 500;
    text-align: center;
    padding:1.25em;
}

#correct,
#incorrect,
#question_div,
#endGame{
    font-size:1.25em;
    padding:1em 1.25em;
    text-align: center;
    line-height: 1em;
}
#img{
    display: none;
}
@media screen and (min-width:760px){
    #img{
        display: block;
    }
    #img img{
        display: block;
        width:90%;
        margin: auto;

    }
}


@media screen and (min-width:1024px){
    body{
        background-image: url(../assets/images/widebackgroubd.jpg)
    }
    #game_panel{
        width:75%;
        display:block;
        margin:auto;
    }
    #img img{
        display: block;
        width:40%;
        margin: auto;
    }
    #choices_div{
        display: flex;
        flex-wrap: wrap;
    }
    #choices_div button{
        width: 40%;
        margin:1em;
           
    }
}